[Unit]
Description=Save all i3 workspaces using i3-resurrect
BindsTo=i3wm.service
After=i3wm.service

[Service]
Type=oneshot
ExecStart=%h/.my_scripts/i3/i3-resurrect-wrapper save --all
ExecStartPost=%h/.my_scripts/i3/i3-resurrect-wrapper prune
Restart=on-failure
RestartSec=30
