[Unit]
Description=Track last i3 focused container
BindsTo=i3wm.service
After=i3wm.service

[Service]
Type=simple
Restart=on-failure
RestartSec=10
# Wait for i3 socket to be available.
ExecStartPre=bash -c 'while true; do i3-msg nop &>/dev/null && break; sleep 1; done'
# Launch it using env so that $PATH will be used.
ExecStart=env conda-run i3_scripts %h/.my_scripts/i3/i3-track-last
