[Unit]
Description=Kalu update checker
# Makes sure that this unit is stopped when the graphical session is terminated.
# https://www.freedesktop.org/software/systemd/man/systemd.special.html#graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=bash -c 'if command -v kalu; then exec kalu; fi'
Restart=on-failure
RestartSec=10
