[Unit]
Description=Start KDEConnect daemon
# Makes sure that this unit is stopped when the graphical session is terminated.
# https://www.freedesktop.org/software/systemd/man/systemd.special.html#graphical-session.target
PartOf=graphical-session.target

[Service]
Type=dbus
ExecStart=/usr/lib/kdeconnectd
BusName=org.kde.kdeconnect
Restart=always
RestartSec=5
