[Unit]
Description=Mullvad VPN client application
# Makes sure that this unit is stopped when the graphical session is terminated.
# https://www.freedesktop.org/software/systemd/man/systemd.special.html#graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=bash -c 'if command -v mullvad-vpn; then exec mullvad-vpn; fi'
Restart=on-failure
RestartSec=10
