[Unit]
Description=Network Manager applet
# Makes sure that this unit is stopped when the graphical session is terminated.
# https://www.freedesktop.org/software/systemd/man/systemd.special.html#graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=nm-applet
Restart=on-failure
RestartSec=10
