[Unit]
Description=Start Polybar
# Makes sure that this unit is stopped when the graphical session is terminated.
# https://www.freedesktop.org/software/systemd/man/systemd.special.html#graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
# Launch it using env so that $PATH will be used.
ExecStart=%h/.local/bin/polybar %i
Restart=on-failure
RestartSec=1
