[Unit]
Description=Polybar
# Polybar requires the window manager:
# https://github.com/polybar/polybar/ihttps://github.com/polybar/polybar/issues/2203#issuecomment-706702761ssues/2203#issuecomment-706702761
BindsTo=x11-wm.service
After=x11-wm.service
# If i3 is reloaded, we must also reload polybar so that it uses the new socket.
ReloadPropagatedFrom=x11-wm.service

[Service]
Type=notify
# We must set NotifyAccess to all because the fallback notification is not
# sent from the process directly executed by the service, but a new process
# created from a script module [1].
# [1] https://github.com/polybar/polybar/wiki/Module:-script
NotifyAccess=all
# Run via /bin/env so that $PATH will be used.
ExecStart=env polybar i3-${HOST_ALIAS}
# Run via /bin/env so that $PATH will be used.
ExecReload=env polybar-msg cmd restart
Restart=on-failure
RestartSec=1

[Install]
Alias=x11-tray.service
