[Unit]
Description=syndaemon- disables the touchpad when the keyboard is being used.
# Makes sure that this unit is stopped when the graphical session is terminated.
# https://www.freedesktop.org/software/systemd/man/systemd.special.html#graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
# i- disable for x seconds after last keypress.
# t- only disable tapping and scrolling, not movement.
# k- ignore modifier keys (i.e. control left click).
# d- start as daemon.
ExecStart=syndaemon -k -t -i 1
Restart=on-failure
RestartSec=30
