[Unit]
Description=xcape
# Makes sure that this unit is stopped when the graphical session is terminated.
# https://www.freedesktop.org/software/systemd/man/systemd.special.html#graphical-session.target
PartOf=graphical-session.target
After=x11-wm.service

[Service]
Type=forking
# Launch it using env so that $PATH will be used.
ExecStart=env run-xcape
Restart=on-failure
RestartSec=30
