[Unit]
Description=xsession window manager and user services
Documentation=man:systemd.special(7)
# As of 2021-11-06 and systemd 249.5, it seems I'm following the guidelines
# documented in systemd.special(7): 
# - "BindsTo=graphical-session.target" in the graphical session target
# - "PartOf=graphical-session.target" in individual graphical services
#
# However, it seems better to use BindsTo and After in the individual graphical
# services, since they shouldn't be running if graphical-session.target is not
# active for any reason.
#
# See:
# https://systemd.io/DESKTOP_ENVIRONMENTS/
# https://github.com/swaywm/sway/pull/5622
# https://github.com/alebastr/sway-systemd
BindsTo=graphical-session.target
# NOTE: graphical-session-pre.target already specifies 
# "Before=graphical-session.target" but is not pulled by default.
Wants=graphical-session-pre.target
After=graphical-session-pre.target

# Require i3 to finish start up before starting the graphical services pulled
# below.
BindsTo=i3wm.service
After=i3wm.service

Wants=x11-desktop.target
Before=x11-desktop.target
