[Unit]
Description=xsession user services
BindsTo=graphical-session.target

Requires=i3wm.service

Wants=battery-monitor.service
Wants=polkit-agent.service
# Wayland support: https://github.com/dunst-project/dunst/issues/264
Wants=dunst.service
# Wayland support: https://github.com/hluk/CopyQ/issues/27
Wants=copyq.service
Wants=kdeconnect-indicator.service
Wants=nm-applet.service
Wants=udiskie.service
Wants=flameshot.service
Wants=keydope.service
# NOTE: As of 2019-12-14, usbguard-applet was removed from the arch repos, so
# it's disabled for now.
# Wants=usbguard-applet.service
# NOTE: As of 2019-12-14, kalu doesn't work with the most recent version of
# pacman.
# Wants=kalu.service
# NOTE: As of 2019-10-19, mullvad is no longer used. I plan to use PIA if I'll
# need a VPN, which had significantly better ping performance when I tested them
# (along with ProtonVPN).
# Wants=mullvad-vpn-app.service

# X11 specific things (that probably won't work with XWayland).
Wants=screenlock-daemon.service
# Wants=keyboard-connections-handler.service
Wants=compton.service
Wants=unclutter.service
# NOTE: xcape is only started if keydope is disabled.
Wants=xcape.service
# ActivityWatch will probably keep working with the browser extension, but as of
# 2020-08-10 it doesn't support capturing Wayland windows metadata from
# non-browser desktop windows.
Wants=activitywatch.service
Wants=selfspy.service
# Wayland support: https://github.com/jonls/redshift/issues/55
Wants=redshift-gtk.service
# NOTE: Is syndaemon still needed? As mentioned in the [libinput
# docs][1] it seems that libinput replaces its functionality, but I'm not sure
# if I can rely on libinput always being used as the input driver.
# [1]: https://wayland.freedesktop.org/libinput/doc/latest/palm_detection.html#disable-while-typing
# Wants=syndaemon.service
