# For defaults and docs see: 
# - /etc/sioyek/keys.config
# - https://sioyek-documentation.readthedocs.io/
# - man sioyek

move_down  k
move_up    i
move_left  l
move_right j

zoom_in  <C-+>
zoom_in  <C-=>
zoom_in  zi
zoom_out zo
zoom_out <C-->
zoom_out <C-_>

prev_state <S-j>
next_state <S-l>
next_page     <S-k>
previous_page <S-i>

copy y

move_visual_mark_up i
move_visual_mark_down k

# NOTE: these keybindings don't work, see https://github.com/ahrm/sioyek/issues/542
goto_toc ti
toggle_fullscreen tf
toggle_statusbar tb
toggle_presentation_mode tp
toggle_fastread tr
toggle_highlight th

quit q

reload <C-r>
