# For more information see the documentation at https://sioyek-documentation.readthedocs.io/

# For defaults and docs see: 
# - /etc/sioyek/prefs.config
# - https://sioyek-documentation.readthedocs.io/
# - man sioyek

# Use a super fast index for search instead of the mupdf's implementation
# Also adds a regex_search command:
# https://github.com/ahrm/sioyek/issues/407
super_fast_search 1
