snippet l "Log INFO" b
LOG(INFO) << "$0" ;
endsnippet

snippet li "Log INFO" b
LOG(INFO) << "$0" ;
endsnippet

snippet lw "Log WARNING" b
LOG(WARNING) << "$0" ;
endsnippet

snippet le "Log ERROR" b
LOG(ERROR) << "$0" ;
endsnippet

snippet lf "Log FATAL" b
LOG(FATAL) << "$0" ;
endsnippet
